.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  padding: 20px;
}

.header__title {
  font-size: 40px;
  letter-spacing: 2px;
}